
.row#technos-scroll
	.ui.grid.page
		.ui.segment
			%h1.ui.header.center.aligned.purple.attached.top
				Compétences
			#home-technos
				.item-mans
					.image
						= image_tag 'ruby-on-rails.jpg'
				.item-mans
					.image
						= image_tag 'github.jpg'
				.item-mans
					.image
						= image_tag 'html5.jpg'
				.item-mans
					.image
						= image_tag 'heroku.jpg'	
				.item-mans
					.image
						= image_tag 'postgres.jpg'
				.item-mans
					.image
						= image_tag 'css3.jpg'
				.item-mans
					.image
						= image_tag 'semantic-ui.jpg'
				.item-mans
					.image
						= image_tag 'bootstrap.jpg'
				.item-mans
					.image
						= image_tag 'ubuntu.jpg'
				.item-mans
					.image
						= image_tag 'jquery.jpg'
				.item-mans
					.image
						= image_tag 'haml.jpg'
				.item-mans
					.image
						= image_tag 'php.jpg'
				.item-mans
					.image
						= image_tag 'drupal.jpg'
				.item-mans
					.image
						= image_tag 'mysql.jpg'
.row#profile
	.ui.grid.page.stackable
		.ui.ten.column.wide
			.ui.segment
				%h1.ui.center.aligned.header.attached.purple.top
					EXPÉRIENCES & FORMATION
				%br
				%h4.ui.header.ribbon.label
					Concept-Immo-Global: Février à mai 2013
					.ui.sub.header Développeur php
				%br
				%p
					Participation au développement d’une application permettant la mise en relation entre un prestataire immobilier et un client via une visite virtuelle.
				.environnement	
					.ui.label
						Environnement:
					%span	
						Ubuntu, Apache2, MySQL, Php5
				%br.frame
					.ui.label
						Framework:
					%span Symfony2
				%br.git
					.ui.label
						Outils :
					%span Github, pubnub, opentok
				%br.front
					.ui.label
						Front-end :
					%span Twig, JavaScript (jQuery, Ajax)
				%br
				%h4.ui.header.ribbon.label
					Addvista: Juin à Septembre 2012
					.ui.sub.header Développeur et intégrateur Drupal7
				%br
				%p
					Intégration de la refonte graphique du site pur.fr
					%br
				%p Mise en place du système d'emailing sur touscuistot.fr 
				.ui.label
					Environnement: Windows, Apache2, MySQL, Php5
				.ui.label
					Framework : Drupal7
				%br
				%br.formation
					%h4.ui.header.ribbon.label
						Sup'internet: dépuis 2011
						.ui.sub.header Bachelor développement et technologies du web

			
				.ui.segment
					%h1.ui.center.aligned.header.attached.purple.top
						Centre d'intérêt
					%br
					.ui.header.ribbon.label
						Dépuis octobre 2013
					.text
						En autoformation continue sur le framework Ruby on rails
					.ui.header.ribbon.label
						Sports
					.text
						Football, Course à pied, Rugby
					.ui.header.ribbon.label
						Musique
					.text
						Reggae, Dubstep, Hip Hop


		.ui.six.column.wide
			.ui.segment
				.image.ui.large
					= image_tag "souleymane-diallo.jpg"
				.ui.divided.list
					.item
						.ui.label
							%i.map.marker.icon
							Location:
						.content
							Paris, France
					.item
						.ui.label
							%i.icon.mail
							email:
						.content
							%a{:href => "mailto:sdiallo888@gmail.com"}
								sdiall888@gmail.com
					.item
						.ui.label
							%i.icon.github
							github:
						.content
							%a{:href => "https://github.com/sdiallo"}
								sdiallo
.row#project
	.ui.grid.page
		.column
			.ui.segement
				%h1.ui.header.attached.top.center.aligned.purple
					PROJETS
				%ul#projectslier
					%li
						%a{:href => "https://github.com/sdiallo/breakevents"}
							%img{:alt => "photo1", :src => "assets/breakdance.png", :title => "gestion d'événement breakdance"}
					%li
						%a{:href => "souleymane-diallo.jpg", :title => "spdoto2"}
							%img{:alt => "Photo 2", :src => "assets/projmanager.png", :title => "gestionnaire de projets"}
					%li
						%a{:href => "souleymane-diallo.jpg", :title => "Photo 3"}
							%img{:alt => "Photo 3", :src => "assets/idbb.png", :title => "site de vente entre particuliers"}
